    <h1>{{title }}</h1>
    <p>We will be {{title }}, using jQuery Ajax</p>

    <div id="stage1" style="background-color:#6c6;">
        Here, we'll be loading data from server.
    </div>
    <input type="button" id="button1" value="Load Data" />

    <br><br>

    <div id="stage2" style="background-color:#c6c;">
        Here we'll be loading data from the server, after having send some first.
    </div>
    <input type="button" id="button2" value="Load Data" />




    <script src="/js/page_script.js"></script>
